body {
    width: 530px;
    margin: 2% auto;/*세로 가로*/
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 1.8rem;
}

.calculator {
    padding: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);/*가로, 세로, 그림자 심도, 확장/축소*/
}

.input {
    border: 1px solid #ddd;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 2.5rem;
    overflow-x: auto;/*x축의 오버플로우 방지 (스크롤이 생김)*/
}
.input:hover {
    border: 1px solid #bbb;
    box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.operators div {
    display: inline-block; /*https://ofcourse.kr/css-course/display-%EC%86%8D%EC%84%B1*/
    border: 1px solid #bbb;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
}
.operators div:hover {
    background-color: #ddd;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-color: #aaa;
}
.operators div:active {
    font-weight: bold;
}

.leftPanel {
    display: inline-block;
}

.numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
}
.numbers div:hover {
    background-color: #f1f1f1;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-color: #bbb;
}
.numbers div:active {
    font-weight: bold;
}

/* https://stackoverflow.com/questions/6489110/differences-between-div-class-class-and-class-div */
div.equal {
    display: inline-block;
    border: 1px solid #3079ED;
    width: 17%;
    text-align: center;
    padding: 127px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;/* inline-block에서 top 부분으로 수직정렬*/
    cursor: pointer;
    color: #FFF;
    background-color: #4d90fe;
}
div.equal:hover {
    background-color: #307CF9;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    border-color: #1857BB;
}
div.equal:active {
    font-weight: bold;
}
