@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');
* {
	position: relative;
	box-sizing: border-box;
}

:root {
	--color-primary: #d3cce3;
	--color-secondary: chocolate;
	--color-font-dark: darkred;
	--color-font-light: #eee;
}

body {
	margin: 0;
	min-height: 100vh; /*요소의 최소 높이를 브라우저 height 100% 이하로 잡지 않는다*/
	background: radial-gradient(circle, #e9e4f0, var(--color-primary)); /*원형 모양의 그라데이션 효과 적용*/
	color: var(--color-font-dark);
	letter-spacing: 2px;
	font-family: 'Noto Sans TC', sans-serif;
	display: flex;
	justify-content: center; /*수평방향 정렬*/
	align-items: center;	 /*수직방향 정렬*/
}

.list-container {
	width: 60%;
	padding: 16px 0;
}
@media (max-width: 500px) {
	.list-container {
		width: 100%;
	}
}

#list-form {
	display: flex;
	justify-content: space-around;
}
.list-form_add-item, 
.list-form_search-item {
	width: 45%;
}

input {
	background-color: transparent; /*배경색 없게*/
	border: 2px solid var(--color-secondary);
	border-radius: 100px;
	padding: 16px;
	
	text-indent: 8px; /*양수면 들여쓰기 음수면 내어쓰기*/
	color: var(--color-font-dark);
	letter-spacing: 2px;
	
	transition: 0.5s;
}
input:focus {
	outline: none;
}

/* add input */
input[type=text],
input[type=search] {
	width: 100%;	
}
#add-item_input:focus,
#search-item_input:focus {
	background-color: var(--color-secondary);
	color: var(--color-font-light);
}

input[type=text] {
	padding-right: 40px;
}

input[type=submit] {
	border: none;
	font-size: 16px;
	
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	
	transition: 0.5s;
	cursor: pointer;
}

input[type=search] {
	text-indent: 24px;
}

#add-item_input:focus + input[type=submit]{
	color: var(--color-font-light);
}

ul {
	list-style: none;
	padding: 0;
}

.to-do-list:empty::before {
	content: 'Nothing to do...';
	display: block;
	text-align: center;
	
	font-size: 12px;
	font-weight: lighter;
}

.finished-list:empty::before {
	content: 'Nothing finished...';
	display: block;
	text-align: center;
	
	font-size: 12px;
	font-weight: lighter;
}

li {
	border: 1.5px solid transparent;
	border-radius: 100px;
	margin: 8px;
	padding: 8px;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	
	transition: 0.5s;
	animation: fadeIn 0.5s both;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.item__content {
	max-width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item__action {
	width: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input[type="checkbox"] {
	appearance: none;
	padding: 8px;

	transition: 0.3s;
	cursor: pointer;
}

input[type=checkbox]:checked,
input[type=checkbox]:hover {
	background-color: var(--color-secondary);
}
input[type=checkbox]:checked::after {
	content: '✔';
	position: absolute;
	top: 50%;
	left: 35%;
	transform: translate(-50%, -50%);
	
	color: #eee;
	font-weight: bold;
}

.fa-trash::before {
	display: inline;
	cursor: pointer;
	content: '🗑';
	transition: 0.3s 0.1s;
}
.fa-trash::after {
	content: '';
	position: absolute;
	right: -10px;
	width: 3px;
	height: 100%;
	
	background-color: var(--color-secondary);
	z-index: -1;
	
	transition: 0.3s;
}
.fa-trash:hover {
	color: var(--color-font-light);
}
.fa-trash:hover::after {
	width: 200%;
}

hr {
	width: 80%;
	border: 1px solid var(--color-secondary);
	opacity: 0.5;
}